<div class="container">
    <p><%=session[:name]%></p>
    <p><%=session[:level]%></p>
    <p><%=session[:num]%></p>
    <a href="/board/seepost"><button id="see" class="btn btn-default">글 보기</button></a>
    <a href="/board/write"><button id="write"class="btn btn-default">글 쓰기</button></a>
    <a href="/"><button class="btn btn-default">메뉴보러가기</button></a>
    <a href="/board/out"><button class="btn btn-default">로그아웃</button></a>
</div>