<div class="container">
	<div class="row">
	  <div class="col-sm-6 col-sm-offset-3">
		  <form id="fs"name="filesend"method="post"action="/board/boardhome">
		     
				<legend>Sign in with Hufs ID</legend>
				
			    <div class="form-group">
				    <label for="pu-id" >ID</label>
					<input type="text" id="pu-id" name="userId" class="form-control" />
				</div>
				<div class="form-group">
					<label for="pu-pw">Password</label>
					<input type="password" id="pu-pw" name="userPw" class="form-control"/>
				</div>
				<button class="btn btn-default">Try</button>
				
		  </form>
		  <a href="/" class="btn btn-default" role="button">Home</a>
	  </div>
	</div>
</div>
