<nav>
  <div class="nav-wrapper main_nav">
    
    <ul class="left">
      <li><a href="/board/seepost/1"><i class="material-icons">undo</i></a></li>
    </ul>
    <a class="brand-logo center">WRITE POST</a>
  </div>
</nav>
<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <form id="fs"name="filesend"method="post"action="/board/save">
  		<%if session[:level]!=nil%>
  		<input name="name"value="<%=session[:name]%>" type="hidden">
  	    <input name="level"value="<%=session[:level]%>" type="hidden">
  	    <input name="num"value="<%=session[:num]%>" type="hidden">
  	    <%end%>
  	    <div class="input-field">
  			<label for="ex1" >Title</label>
  			<input type="text" id="ex1" name="title" class="form-control" />
  		</div>
  		<div class="input-field">
  			<textarea id="ex2" name="content" class="materialize-textarea"></textarea>
  			<label for="ex2">Content</label>
  		</div>
  		
  		<button class="btn btn-default">Send</button>
    </form>
  </div>
</div>
<script>
  $('#ex2').trigger('autoresize');
</script>