
<div class="container">
	<div class="row">
	
		<!--<iframe  style="height:500px; width:500px;"name="hif"src="https://builder.hufs.ac.kr/user/popupLogin.action" id="main"></iframe>-->
	  <form id="fs"name="filesend"method="post"action="/board/save">
	     
			<legend>Write Post</legend>
			<%if session[:level]!=nil%>
			<input name="name"value="<%=session[:name]%>" type="hidden">
		    <input name="level"value="<%=session[:level]%>" type="hidden">
		    <input name="num"value="<%=session[:num]%>" type="hidden">
		    <%end%>
		    <div class="input-field">
				<label for="ex1" >Title</label>
				<input type="text" id="ex1" name="title" class="form-control" />
			</div>
			<div class="input-field">
				<textarea id="ex2" name="content" class="materialize-textarea"></textarea>
				<label for="ex2">Content</label>
			</div>
			<button class="btn btn-default">Send</button>
			
	  </form>
	  <a href="/board/seepost/1"><button class="btn btn-default">Back</button></a>
	</div>
</div>
<script>
  $('#ex2').trigger('autoresize');
</script>