<a class="waves-effect waves-light btn" href="/adpage/dbmain/<%=@info%>">돌아가기</a>

<h3>메뉴번역추가</h3>
        
<div class="row">
    <form action="/adpage/menulist/<%=@info%>" method="post">
        <div class="input-field">
          <label for="ex1">한글이름</label>
          <input class="validate" name="kname"id="ex1" type="text">
        </div>
        <div class="input-field">
          <label for="ex2">영어 뜻</label>
          <input class="validate" name="ename"id="ex2" type="text">
        </div>
        <div class="input-field">
          <label for="ex3">독음</label>
          <input class="validate" name="ername"id="ex3" type="text">
        </div>
        <div class="input-field">
          <label for="ex4">일본어 훈독</label>
          <input class="validate" name="jnamea"id="ex4" type="text">
        </div>
        <div class="input-field">
          <label for="ex5">중국어 간체</label>
          <input class="validate" name="cname"id="ex5" type="text">
        </div>
        <div class="input-field">
          <label for="ex6">중국어 번체</label>
          <input class="validate" name="cnameb"id="ex6" type="text">
        </div>
        <div class="input-field">
          <label for="ex7">아랍어</label>
          <input class="validate" name="aname"id="ex7" type="text">
        </div>
        <div class="input-field">
          <label for="ex8">es</label>
          <input class="validate" name="spanish"id="ex8" type="text">
        </div>
        <div class="input-field">
          <label for="ex9">de</label>
          <input class="validate" name="germany"id="ex9" type="text">
        </div>
        <div class="input-field">
          <label for="ex10">ita</label>
          <input class="validate" name="italia"id="ex10" type="text">
        </div>
        <div class="input-field">
          <label for="ex11">po</label>
          <input class="validate" name="portugal"id="ex11" type="text">
        </div>
        <button class="btn">저장</button>
        
    </form>
</div>
<br>
<br>


<form action="/excelinsert" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn">
            <span>Excel</span>
            <input id="k"type="file" name="ex" size="20" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
          </div>
          <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button class="btn">저장</button>
</form>

<a href="/download">
    <button class="btn">db 엑셀로 다운로드</button>
</a>