<div class="container">
    <h2>번역 추가가 필요합니다</h2>
    <form action="/oadpage/addmenu" method="post">
        <div class="form-group">
          <label for="ex1">한글 메뉴</label>
          <input class="form-control" name="kname"id="ex1" type="text" value="<%=@menuname%>">
        </div>
        <div class="form-group">
          <label for="ex2">영어</label>
          <input class="form-control" name="ename"id="ex2" type="text">
        </div>
        <div class="form-group">
          <label for="ex3">독음</label>
          <input class="form-control" name="ername"id="ex3" type="text">
        </div>
        <div class="form-group">
          <label for="ex4">일본어</label>
          <input class="form-control" name="jnamea"id="ex4" type="text">
        </div>
        <div class="form-group">
          <label for="ex5">중국어 간체</label>
          <input class="form-control" name="cname"id="ex5" type="text">
        </div>
        <div class="form-group">
          <label for="ex6">중국어 번체</label>
          <input class="form-control" name="cnameb"id="ex6" type="text">
        </div>
        <div class="form-group">
          <label for="ex7">아랍어</label>
          <input class="form-control" name="aname"id="ex7" type="text">
        </div>
        <input style="display:none" name="content" value="<%=@content%>">
        <input style="display:none" name="id" value="<%=@id%>">
        <button class="btn btn-primary">저장</button>
    </form>
    <a href="/oadpage/addmenu_page/<%=@id%>"><button class="btn btn=default">돌아가기</button></a>
</div>