<a class="waves-effect waves-light btn" href="/oadpage/show/1">돌아가기</a>

<h3>사진추가</h3>
        
<div class="row">
    <div class="input-field">
      <label for="ex1">파일 이름</label>
      <input class="validate" id="ex1" type="text">
    </div>
    <div class="input-field">
      <label for="ex2">주소</label>
      <input class="validate" id="ex2" type="text">
    </div>
    <button class="btn see">보기</button>
</div>
<div id="test"></div>
<form id="fo"action="/oadpage/image_add" method="post">
    <input type="hidden" id="foad"name="address" type="text">
    <input type="hidden" id="fokey"name="keyword" type="text">
</form>

<script>
    
    $(".see").click(function(){
        var name=$("#ex1").val();
        var address="http://googledrive.com/host/0B5YS4isQi3cDRnRHNUFSbkxuU0E/"+name
        $("#test").html('<img src='+address+' width="300" height="300">'+'<button onclick="send();"class="btn save">저장</button>');
       
	    
	    
	            $('#foad').val(name);
	            $("#fokey").val($("#ex2").val());
	       
    });
    function send(){
        $("#fo").submit();
    }
</script>