<a class="waves-effect waves-light btn" href="/oadpage/show/1">돌아가기</a>

<h3>사진추가</h3>
        
<div class="row">
    <div class="input-field">
      <label for="ex1">사진 주소</label>
      <input class="validate" id="ex1" type="text">
    </div>
    <div class="input-field">
      <label for="ex2">키워드</label>
      <input class="validate" id="ex2" type="text">
    </div>
    <button class="btn see">보기</button>
</div>
<div id="test"></div>
<form id="fo"action="/oadpage/image_add" method="post">
    <input type="hidden" id="foad"name="address" type="text">
    <input type="hidden" id="fokey"name="keyword" type="text">
</form>

<script>
    function load() {
      gapi.client.setApiKey('AIzaSyDotDoAyiizNm1fw0r_bn7mqVapTwLpvNg');
      gapi.client.load('urlshortener', 'v1',function(){});
    }
    $(".see").click(function(){
        var add=$("#ex1").val();
        
        $("#test").html('<img src='+add+' width="300" height="300">'+'<button onclick="send();"class="btn save">저장</button>');
       
	    var longURL = add;  
	    var request = gapi.client.urlshortener.url.insert({
	        'resource' : {
	            'longUrl' : longURL
	        }
	    });
	    request.execute(function(response) {
	        if (response.id != null) {  
	            $('#foad').val(response.id);
	            $('#ex1').val(response.id);
	            $("#fokey").val($("#ex2").val());
	        }
	    }); 
    });
    function send(){
        $("#fo").submit();
    }
</script>
<script src="https://apis.google.com/js/client.js?onload=load"></script>