@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';


.placeinfo_wrap {position:absolute;bottom:28px;left:-90px;width:180px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:10px;background:url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #002D56;background: #002D56 url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
.card-time{
	padding-top:12px;
	margin:0px;
	font-size:9pt;
}
.caf_rep{
	padding-top:12px;
	margin:0px;
	font-weight:bold;
}
.caf_times{
	margin: 0px;
	font-size: 9pt;
}
.card-bottom-left{
	width: 32%;
	float: left;
	min-height: 100%;
	height: 100%;
}
.card-bottom-middle{
	width: 32%;
	float: left;
	border-right: thin solid #bdbdbd;
	border-left: thin solid #bdbdbd;
	height: 100%;
	text-align: center;
}
.material-icons{
	font-size: 18px;
}
.card-bottom-right{
	width: 32%;
	float: left;
	text-align: center;
	font-size: 9pt;
	height: 100%;
}
.contain{
	padding-bottom:0px;
}
.contain:after {content:""; display:block; clear:both;}
.card p{
	padding-right:16px;
	font-size:9pt;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}
.u_picture{
  max-width: 100%; 
  height: 150px; 
  width: 100%
}
.nav_form{
	display:none;
}
.tabs > .indicator {
    background-color: white;
}

.tabs > li > .active {
    color: white;
}
.tabs > li > .active:visited {
    color: white;
}
.tabs > li > .active:hover {
    color: white;
}
.tabs > li > .active:active {
    color: white;
}
.tabs > li > :not(.active) {
    color: #8DC9FA;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */