
.email {
    pointer-events: none !important;
    color: white;
}
	.caf_rep{
		padding-left:16px;
		padding-top:12px;
		margin:0px;
		color : #444444;
		font-weight:bold;
		
	}
	.caf_times{
		padding-left:16px;
		padding-top:12px;
		margin:0px;
		color : #444444;
		font-size:9pt;
	}
	.card p{
		padding-left:16px;
		padding-right:16px;
		font-size:9pt;
		color : #777777;
	}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

