@font-face{
	font-family:"BMDOHYEON";
	src: font-url('BMDOHYEON.eot');
    src: font-url('BMDOHYEON.eot#iefix') format('embedded-opentype'),
         font-url('BMDOHYEON.woff') format('woff'),
         font-url('BMDOHYEON.ttf') format('truetype');
}
body, table, div, p {font-family:'BMDOHYEON';}